<!DOCTYPE html>
<html lang="en">

{{>header}}
<body>
    {{>navbar}}
    <!-- main header -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right home_header_right">
                        <img class="" src="images/about.JPG" alt="">
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I'm an <span class="txt_clr">Full stack web developer</span> click below to know more about me</h1>
                        <a href="/weather"><button>About me</button></a>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- footter -->
{{>footer}}
</body>

</html>